# Virtual environments
venv/
env/
.env/
myenv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Logs
*.log

# Database files
*.sqlite3
*.db

# Packaging
*.egg-info/
dist/
build/

# VS Code settings
.vscode/

# Node.js dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing coverage
/coverage

# Next.js build output
/.next/
/out/

# Production build
/build

# Miscellaneous files
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variable files (optional, can commit if needed)
.env*

# Vercel
.vercel

# TypeScript files
*.tsbuildinfo
next-env.d.ts
